
<h1>Registration WebApp</h1>

<form class="" action="/registration" method="post">
  <input type="text" name="name" placeholder="Type any regNum here">
  <input type="submit" value="Add Number"><br></br>

</form>
<form class="filterTowns" action="/filter" method="get">
  <input type="radio" name="NumberPlates" value="CA">CapeTown
  <input type="radio" name="NumberPlates" value="CY">Bellville
  <input type="radio" name="NumberPlates" value="CK">Malmesbury
  <input type="radio" name="NumberPlates" value="">ALL<br></br>
  <div class="button1">
    <input type="submit" value="FILTTER"><br></br>

  <div class="error">
    {{messages.error}}

  {{#each message}}

  <div class="style">
    {{name}}
  </div>
</div>

  </div>
  </form>
  {{/each}}
